/* body {
    background-color: #2D4057
} */

.boxlogin {
    width: 40%;
    height: 320px;
}

.table-login {
    width: 80%;
}

@media screen and (max-width: 600px) {
    .boxlogin {
        width: 50%;
        height: 320px;
    }
    .table-login {
        width: 2000px;
    }
}